/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.filters select:hover {
    border-color: #0198DD;
}

.form-select:focus {
    border-color: #0198DD;
    box-shadow: 0 0 4px rgba(37, 150, 190, 0.15);
}

body {
    background-color: #f8f9fa;
}
